/* Styles for Mobile Site */

.exo-2-<uniquifier> {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
body {
    background-color: #15EFFA;
    font-family: "Exo 2", sans-serif;

}

h1, h2, h3, h4, h5, h6 {

    font-family:"Exo 2", sans-serif;
    font-size: 45pt;
}
#header, #hero {
    text-align: center;
}
#hero img {
    border: solid black;
    text-align: center;

}

/* Projects */

/* Reviews */

/* Footer */


/* Media state for Desktop site */
@media (min-width: 1000px) {
    body {
        background-color: #15EFFA;
        font-family: "Exo 2", sans-serif;
    
    }
    
    h1, h2, h3, h4, h5, h6 {
    
        font-family:"Exo 2", sans-serif;
        font-size: 45pt;
    }

    /* Header & Hero */

    /* Projects */

    /* Reviews */

    #reviews {
        background-color: #47787a;
        color: white;

    }

    /* Footer */

}